@model IEnumerable<ADSBackend.Models.SummerWork.SummerWork>

@{
    ViewData["Title"] = "Summer Work";
}

<div class="ibox">
    <div class="ibox-title">
        <h2>Summer Work Assignments</h2>
        <p>
            <a asp-action="Create" class="btn btn-info">Add Assignment</a>
        </p>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Class)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Classroom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Link)
                        </th>
                   
                        <th>
                            <p>Configure Details</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Class)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Classroom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Link)
                            </td>

                            <td>
                                <a class="btn  btn-xs" asp-action="Edit" asp-route-id="@item.SummerID">Edit</a> |
                                <a class="btn  btn-xs" asp-action="Details" asp-route-id="@item.SummerID">Details</a> |
                                <a class="btn  btn-xs" asp-action="Delete" asp-route-id="@item.SummerID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>